@import url();
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#login{
    display: block;
}
#loginx{
    display: none;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}
.wrapper{
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 58px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
}


.togglebtn{
    border: 1px solid #333;
    font-size: 17px;
    font-weight: 500;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    margin-bottom: 5px;
}
.togglebtn:hover{
    background: #000000;
    color: #ffffff;
}

.login{
    padding: 25px 30px;

}
.login header{
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #e6e6e6;
}
.login form{
    margin: 20px 0;
    
}


.login form .error{
    color: #0053ee;
    background: #d5e9ff;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #67b0ff;
    
    opacity: 0;
}
.login form .error.active{
    opacity: 1;
}
.login form .field{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
.login form .field input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin: 1px;
}

.login form .btn input{
    margin-top: 8px;
    height: 42px;
    border: 1px solid #333;
    font-size: 17px;
    font-weight: 500;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.login form .btn input:hover{
    border: 1px solid #333;
    color: #333;
    background: rgb(255, 255, 255);
}

.login form .field i{
    position: absolute;
    right: 15px;
    color: #333;
    top: 70%;
    transform:translateY(-50%);
    cursor: pointer;
}
.login form .field i.active::before{
    color: #333;
    content: "\f070";
}

.login .link{
    text-align: center;
    margin: 5px 0;
    font-size: 17px;
}
.login .link a{
    color: #333;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 2px;
}
.login .link a:hover{
    color: #333;
    border: 1px solid #333;
    
    
}
.login form .field i{
    position: absolute;
    right: 15px;
    color: #333;
}