* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container {

    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lg-container {
    padding-left: 7%;
}

.one{
    margin-top: 1.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}
.two{
    margin-top: 1.4rem;
    display: flex;
    padding: 5px;
}
.two .block1{
    background: #fff;
    padding: 10px;
    margin: 8px; 
    box-shadow: 1px 1px 5px #0003;
    flex-basis: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.one .block{
   background: #fff;
   padding: 10px;
   margin: 8px; 
   box-shadow: 1px 1px 5px #0003;

   border-radius: 10px;
}
.block .midl{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block .midl svg{
    width: 6rem;
}
.block .midl svg circle{
    fill: none;
    stroke: rgb(205, 243, 255);
    stroke-width: 14px;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}
.block .bx1 .midl svg circle{
    stroke-dashoffset: -5;
    stroke-dasharray: 170;
}
.block .bx2 .midl svg circle{
    stroke-dashoffset: -30;
    stroke-dasharray: 200;

}
.block .bx3 .midl svg circle{
    stroke-dashoffset: -5;
    stroke-dasharray: 170;
}
.block .midl .rghtb .perc{ 
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block i{
    color: #0009;
}
.block small{
    color: #0009;
}

.top{
    margin-top: 1rem;
}
.top table{
    background: #fff;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px #0003;
}
.top table tbody td{
    height: 2.5rem;
    border-bottom: 1px solid #ccc5;
    color: #5a5a5a;
}
.top a{
    margin: 5px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    text-decoration: none;
}

.tb{
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    border-collapse: collapse;
    box-shadow: 0px 2px 10px rgb(176, 176, 176);
    background-color: #fff;
    text-align: left;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
    border-radius: 5px;
    margin-top: 7px;

}
thead{
    box-shadow: 0px 1px 5px rgb(206, 206, 206);
}
th{
    padding: 1rem 1rem;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    font-weight: 900;

}
td{
    padding: 1rem 2rem;

}
tr:nth-child(even){
    background-color: rgb(242, 252, 255);
}
.tit{
    width: 30%;
    color: #349ff6;
}
.linkbtn{
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}
.linkbtn a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50%;
    color: #5a5a5a;
    text-decoration: none;
    margin: 10px;

    padding: 25px 50px;
    width: 100%;
    background: #ffff;
    border: 1px solid #ccc;
        box-shadow: inset 1px 1px 5px #0003;
    border-radius: 5px;
    cursor: pointer;

}
.linkbtn a:hover{
    box-shadow: 1px 1px 5px #0003;
}
.linkbtn a button{
    font-size: 16px;
    border: none;
    background: #ffff;
    color: #5a5a5a;
}
